body{
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 24%, #c7c7c7 75%);
    font-family: system-ui;
    color: #020538;
}
.clearfix{
    clear: both;
}
.main{
    height:auto;
    width: 100%;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
}
.top-section{
    background-color: #151b29;
    text-align: center;
    padding: 20px;
}
.profile{
    width: 150px;
    border-radius: 50%;
}
.p1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}
.p1 span{
    font-weight: bold;
    color: white;

}
.p2{
    color: #c7c7c7;
    margin: 0px;
    margin-top: 10px;
}
.col-div-4{
    width: 27%;
    float: left;
    background-color: white;
    height: 1250px;
}
.col-div-8{
    width: 69%;
    float: left;
}.line{
    border-left: 5px solid #131212;
    height: 1200px;
    width: 1%;
    margin-top: 30px;
    float: left;
}
.content-box{
    padding: 20px;
}
.head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(2, 2, 75);
}
.p3{
    color: #020538;
    margin-bottom: -5px;
    font-size: 20px;
}
.fa{
    color: #151b29;
}
.hobbies li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.hobbies li span{
    color: #0c0c0c;
}
.lang li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.lang li span{
    color: #0c0c0c;
}
.sub-head{
    font-size: 14px;
    font-weight: bold;
    color: rgb(2, 2, 75);
    font-size: 20px;
}
.personal li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.personal li span{
    color: #0c0c0c;
}
.education li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.education li span{
    color: #020538;
}
.activities li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.activities li span{
    color: #0c0c0c;
}
.tech li{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.tech li span{
    color: ;
}
.project{
    font-size: 20px;
}
.address{
    font-size: 20px;
}
